<%= form_with model: [comment.commentable, comment] do |f| %>
  <div id="errors">
    <%= render 'errors', obj: comment %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, class: "textarea" %>
  </div>

  <%= f.submit class: "button is-dark" %>
<% end %>
