<nav class="level">
  <div class="level-left">
    <h1 class="title">Users</h1>
  </div>
</nav>

<%= paginate @users %>
<table class="table is-bordered is-fullwidth">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.user.name') %></th>
      <th><%= t('activerecord.attributes.user.email') %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= link_to t('page.show'), url_for(user_path(user)), class: "button is-primary" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
