<article class="message is-large">
  <div class="message-header">
    <p>
      <strong><%= t('profile_title', user: @user.email) %></strong>
    </p>
  </div>
  <div class="message-body">
    <p class="content">
      <strong><%= User.human_attribute_name(:name) %></strong>
      <%= @user.name %>
    </p>

    <p class="content">
      <strong><%= User.human_attribute_name(:postcode) %></strong>
      <%= @user.postcode %>
    </p>

    <p class="content">
      <strong><%= User.human_attribute_name(:address) %></strong>
      <%= @user.address %>
    </p>

    <p class="content">
      <strong><%= User.human_attribute_name(:introduction) %></strong>
      <%= simple_format @user.introduction %>
    </p>
  </div>
</article>

<%= link_to t('page.back'), users_path %>
