<h1>Profile</h1>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @user.postcode if @user.postcode %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address if @user.address %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @user.introduction if @user.introduction %>
</p>

<%= link_to 'Back', books_path %>
