<article class="message is-large">
  <div class="message-header">
    <p>
      <strong><%= t('page.profile_title', user: @user.email) %></strong>
      <%= appears_edit_btn_when_user_equals_current_user(@user) %>
    </p>
  </div>
  <div class="message-body">
    <div class="content">
      <div id='follow_ajax'><%= render 'users/shared/relation_stats', user: @user %></div>
    </div>

    <p class="content">
      <strong><%= User.human_attribute_name(:icon_image) %></strong>
      <%= image_tag @user.icon_image.variant(resize_to_limit: [200, 200]) if @user.icon_image.attached? %>
    </p>

    <p class="content">
      <strong><%= User.human_attribute_name(:name) %></strong>
      <%= @user.name %>
    </p>

    <p class="content">
      <strong><%= User.human_attribute_name(:postcode) %></strong>
      <%= @user.postcode %>
    </p>

    <p class="content">
      <strong><%= User.human_attribute_name(:address) %></strong>
      <%= @user.address %>
    </p>

    <p class="content">
      <strong><%= User.human_attribute_name(:introduction) %></strong>
      <%= simple_format @user.introduction %>
    </p>
  </div>
</article>

<%= link_to t('page.back'), users_path %>
