<header class="block">
  <div class="tabs">
    <ul>
      <li><%= link_to '日本語', root_path(locale: 'ja') %></li>
      <li><%= link_to 'English', root_path(locale: 'en') %></li>
      <li><%= link_to t('page.all_books'), url_for(books_path) %></li>
      <% if user_signed_in? %>
        <li><%= link_to t('page.all_users'), users_path %></li>
        <li><%= link_to t('users.sessions.destroy'), destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to t('users.sessions.new.sign_in'), user_session_path %></li>
        <li><%= link_to t('users.registrations.new.sign_up'), new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</header>
