<!DOCTYPE html>
<html>

<head>
  <title>AppForSubmit</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render 'header' %>
  <div class="container" id="main-container">
    <%= render 'notion' %>
    <%= yield %>
  </div>
  <script>
    ! function(o, e, n) {
      var r = [];
      if (window.reproio) console.info("Repro Web SDK was loaded more than once");
      else {
        window.reproio = function() {
          r.push(arguments)
        };
        var i = o.createElement(e),
          t = o.getElementsByTagName(e)[0];
        i.src = "https://cdn.reproio.com/web/v2/repro-sdk.min.js", i.async = !0, i.crossOrigin = "", i.onload = function() {
          window.reproio("setSnippetVersion", "2.1"), r.forEach(function(o) {
            window.reproio.apply(window.reproio, o)
          })
        }, t.parentNode.insertBefore(i, t)
      }
    }(document, "script");
    reproio("setup", "<%= Rails.application.credentials.repro[:token] %>");
  </script>
</body>

</html>
